body{

    background-image: url("../img/blue_sky_sun_light_clouds_day_air_48047_3840x2400.jpg");
}
h1 {
    color: black; text-decoration: underline;

}
img{ width: 100px }

body {
    text-align: center;
}
ul {
    text-align:left;
}

table, th, td {
    border: 10px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}

table.center {
    margin-left:auto; 
    margin-right:auto;
  }
tr:nth-child(even) {background-color: #f2f2ff}

th {
    background-color: #4CAF50;
    color: white;
}
